@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
   <h1> <p>Inventario de Muebles</a>.</p></h1>
    <p>Un inventario de muebles es una lista detallada de los objetos y elementos que componen un hogar o una instalación. Este inventario puede ser útil para diversas situaciones, como comprar seguros, resolver reclamos o verificar la cobertura de un seguro</p>
    <p>Algunos elementos comunes que se incluyen en un inventario de muebles son:</p>
    <p>
    <ul>
            <li>Muebles de dormitorio: como camas, mesitas de noche, libreros, etc. </li>
            <li>Muebles de la cocina: como mesas de centro, sillas, lámparas, etc. </li>
            <li>Muebles de la sala: como sofás, mesas, lámparas, etc. </li>
			<li>Muebles de la oficina: como escritorios, sillas, estanterías, etc. </li>
			<li>Muebles de la sala de estar: como sofás, mesas, lámparas, etc. </li>
        </ul>
    </p>
</div>
